# .gitignore for starchaser-dataserver.

# MacOS system files
*.DS_Store

# XCode files
*.xcodeproj/
DerivedData/
build/
xuserdata/

# Output files
*.out

# Compile object files and executables
*.o
*.exe
*.app

# Python virtual environment
env/

# Python cached files.
__pycache__/

# Temporary files.
tmp/

# Playground.
demo.py
thoughts.org
deployment-issues.md

# Log files.
*.log*

# Text files that record process and thoughts.
TODO.org
gefs_key_value_pairs.txt

# Large databases.
data/*
history_data/
databases/
*.tif

# Tile images.
dataserver/static/

# Shape files.
preprocessing/light_pollution/NPS/

# Credentials
credentials/

# AWS EC2 domain.
aws-domain.txt

# Do not ignore these files in data/.
!data/0p25_lats.npy
!data/0p25_lngs.npy
!data/score_table.npy
!data/sky_transparency_table.npy
!meteor_shower_table.json
