<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Starchasers Data Server</title>
</head>
<body>
    <h1>Welcome to Starchasers data server!</h1>
    This server is intended for API use only. If you are looking for more information about the services and endpoints provided, please refer to the official documentation <a href="https://github.com/wmarcoyu/starchasers-dataserver" style="display: inline;">here</a>.
</body>
</html>
